body{
    background-image: url("images/space.jpg");
    background-size: cover;
    background-position:center;
    min-width: 400px;
}

.card{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto;
    padding: 10px;
}

header > img {
    margin-left: 400px;
    width: 600px;
}

main {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

main > div img {
    border: 2px solid #031136;
    border-radius: 10px;
    box-sizing: border-box;

    display: inline-block;
    transition: all .4s ease-in;    
    vertical-align: top;
}

main > div img:hover{
    transform: scale(1.2);
}

p{
    background-color: #38ADE0;
    background-size: 100%;
    border: 1px solid #031136;
    border-radius: 10px;
    color:#6ee345;

    font-family: 'Nanum Pen Script';
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
    
    text-align: center;
    transition: all .4s ease-in;
    width: 100%;
}

p:hover{
    transform: scale(1.4);
}

